.prog_output
{
	background-color: #000000;
	font-size: 15px;
	color: lightgrey;
  	border-left: 3px solid;
  	border-left-color: lightgrey;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	width: auto;
	float: left;
	font-family: monospace;
}

.prog_code
{
	border-left: 3px solid;
	border-left-color: #41A1CF;;
	padding-left:5px;
	min-height: 100%;
}
.syntaxhighlighter { 
	overflow-y: hidden !important; 
	overflow-x: auto !important; 
}
body{
	background-color: #1b2426 
}